*,
*:before,
*:after {
	box-sizing: inherit;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	display: flex;
	min-height: 100vh;
}

main {
	color: #202020;
	flex: 1;
	padding: 2em;
	color: #202020;
}

header {
	background-color: #2E6C85;
	width: 100%;
	display: flex;
	align-items: center;
}

header img {
	position: static;
	margin-left: auto;
	max-width: 15vw;
	height: auto;
}

.header-content {
	width: 100%;
	text-align: center;
}

footer {
	text-align: center;
	background-color: #092834;
	color: #B2D732;
	clear: both;
}

footer h2 {
	color: #B2D732;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 5vw;
	color: #B2D732;
	text-align: center;
	text-shadow: 3px 2px 5px #202020;
	padding: 2vw;
	margin: 0px;
}

h2 {
	color: #C04402;
	font-family: 'Architects Daughter', cursive;
	margin-top: 1em;
}

h3,
h4,
h5 {
	color: #2E6C85;
	margin-top: 1em;
}

p {
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.35em;
	margin-top: 1em;
}

ol {
	margin-left: 2em;
	line-height: 1.5em;
}

.accent1 {
	background-color: #C04402;
	color: whitesmoke;
}

.accent2 {
	color: #B2D732;
}

.error {
	color: #FE2712;
}

a {
	color: #092834;
}

a:hover {
	color: #2E6C85;
	text-decoration: none;
}

a:visited {
	color: #FE2712;
	text-decoration: none;
}
.sidebar {
	background-color: #B2D732;
	width: 200px;
	color: #C04402;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	padding: 1em;
	z-index: 10;
}
/* Sidebar links */
.sidebar a {
	color: #C04402;
	text-decoration: none;
	margin-bottom: 1em;
	font-size: 1.1em;
	font-family: 'Love Ya Like A Sister', cursive;
}
.sidebar a:hover {
	color: #092834;
}